<table class="history-table">
  <tr>
    <th class="history-table__header">
      <div class="history-table__header_content">
        Battle Date and Time
        <div class="history-table__header_sort-icon" (click)="sortByDate()">
          <img src="assets/icons/sort-solid.svg">
        </div>
      </div>
    </th>
    <th class="history-table__header">
      <div class="history-table__header_content">
        Hero Name
        <div class="history-table__header_sort-icon" (click)="sortByHeroName()">
          <img src="assets/icons/sort-solid.svg">
        </div>
      </div>
    </th>
    <th class="history-table__header">
      <div class="history-table__header_content">
        Opponent Name
        <div class="history-table__header_sort-icon" (click)="sortByOpponentName()">
          <img src="assets/icons/sort-solid.svg">
        </div>
      </div>
    </th>
    <th class="history-table__header">
      <div class="history-table__header_content">
        Battle Result
        <div class="history-table__header_sort-icon" (click)="sortByResult()">
          <img src="assets/icons/sort-solid.svg">
        </div>
      </div>
    </th>
  </tr>
  <tr *ngFor="let battle of battles">
    <td class="history-table__cell">{{ battle.date | date:'medium' }}</td>
    <td class="history-table__cell clickable" (click)="navigateToHeroInfoPage(battle.hero.id)">{{ battle.hero.name }}</td>
    <td class="history-table__cell clickable" (click)="navigateToHeroInfoPage(battle.opponent.id)">{{ battle.opponent.name }}</td>
    <td class="history-table__cell">{{ battle.result }}</td>
  </tr>
</table>