<div class="wrapper">
  <div class="search-bar">
    <app-alphabet-selection (charOptionClick)="setSearchValue($event)"></app-alphabet-selection>
    
    <input 
      class="search-bar__input" 
      type="text" 
      placeholder="Enter hero name" 
      [formControl]="searchInput"
    >

    <div class="search-bar__search-icon" (click)="searchHero()">
      <img src="/assets/icons/search-solid.svg">
    </div>
  </div>

  <div *ngIf="searchInput.errors?.['pattern']" class="validations">
    <p class="validation-message">
      Wrapping spaces, numbers and special symbols are not allowed.
    </p>
  </div>
</div>
