<div class="wrapper">
  <div class="hero__img">
    <img [src]="hero.image.url" (error)="setDefaultHeroImage(hero)">
  </div>

  <h2 class="hero__name">{{ hero.name }}</h2>

  <ul class="hero__stats">
    <li class="hero__stats_point">Intelligence: {{ hero.powerstats.intelligence }}</li>
    <li class="hero__stats_point">Strength: {{ hero.powerstats.strength }}</li>
    <li class="hero__stats_point">Speed: {{ hero.powerstats.speed }}</li>
    <li class="hero__stats_point">Durability: {{ hero.powerstats.durability }}</li>
    <li class="hero__stats_point">Power: {{ hero.powerstats.power }}</li>
    <li class="hero__stats_point">Combat: {{ hero.powerstats.combat }}</li>
  </ul>

  <!-- <button
    [ngClass]="{'select-hero-button': true, 'disabled': isHeroSelected}" 
    (click)="selectHero()" 
  >
    {{ isHeroSelected ? 'Selected' : 'Select' }}
  </button> -->

  <div class="hero__actions">
    <button 
      [ngClass]="{'hero__actions_select': true, 'visible': !isHeroSelected}" 
      (click)="selectHero()"
    >
      Select
    </button>
  
    <button 
    [ngClass]="{'hero__actions_remove': true, 'visible': isHeroSelected}" 
      (click)="removeHero()"
    >
      Remove
    </button>

    <button class="hero__actions_view-more">View more</button>
  </div>
</div>
