<div class="wrapper">
  <ul class="heroes-list">
    <li *ngFor="let hero of heroes; let isLast = last; trackBy: trackByHeroId" class="heroes-list__item">
      <app-hero-card
        *ngIf="dynamicList; else staticHeroListView"
        [hero]="hero"
        (heroRemoved)="updateHeroesListAfterHeroRemove($event)"
      ></app-hero-card>
      
      <ng-template #staticHeroListView>
        <app-hero-card [hero]="hero"></app-hero-card>
      </ng-template>
      <button *ngIf="showAddHeroButton && isLast" class="add-hero-button" (click)="navigateToHeroSelectionPage()">
        <img src="assets/icons/plus-solid.svg">
      </button>
    </li>
  </ul>
</div>
