<div class="wrapper">
  <div class="background">
    <img src="assets/img/user-info-page-bg.jpg">
  </div>

  <mat-tab-group class="tabs" mat-align-tabs="center" selectedIndex="0">
    <mat-tab label="Heroes List">
      <div class="content">
        <app-heroes-list [heroes]="selectedHeroes" [showAddHeroButton]="true"></app-heroes-list>
      </div>
    </mat-tab>

    <mat-tab label="Battles History">
      <table class="history-table">
        <tr>
          <th class="history-table__header">
            <div class="history-table__header_content">
              Battle Date and Time
              <div class="history-table__header_sort-icon" (click)="sortByDate()">
                <img src="assets/icons/sort-solid.svg">
              </div>
            </div>
          </th>
          <th class="history-table__header">
            <div class="history-table__header_content">
              Hero Name
              <div class="history-table__header_sort-icon" (click)="sortByHeroName()">
                <img src="assets/icons/sort-solid.svg">
              </div>
            </div>
          </th>
          <th class="history-table__header">
            <div class="history-table__header_content">
              Opponent Name
              <div class="history-table__header_sort-icon" (click)="sortByOpponentName()">
                <img src="assets/icons/sort-solid.svg">
              </div>
            </div>
          </th>
          <th class="history-table__header">
            <div class="history-table__header_content">
              Battle Result
              <div class="history-table__header_sort-icon" (click)="sortByResult()">
                <img src="assets/icons/sort-solid.svg">
              </div>
            </div>
          </th>
        </tr>
        <tr *ngFor="let battle of battles">
          <td class="history-table__cell">{{ battle.battleDate | date }}</td>
          <td class="history-table__cell clickable">{{ battle.heroName }}</td>
          <td class="history-table__cell clickable">{{ battle.opponentName }}</td>
          <td class="history-table__cell">{{ battle.battleResult }}</td>
        </tr>
      </table>
    </mat-tab>

    <mat-tab label="Power Ups">
      <app-power-ups-list></app-power-ups-list>
    </mat-tab>
  </mat-tab-group>
</div>
