<header class="header">
  <nav class="navigation">
    <li class="navigation__title">Superheroes App</li>
    <li 
      class="navigation__fight"
      (click)="handleFightPageLinkClick()"
      routerLink="/home/fight"
      routerLinkActive="active-link"
    >
      Fight!
    </li>
    <li class="navigation__user">
      <div 
        class="navigation__user-info" 
        routerLink="/home/user-info" 
        routerLinkActive="active-link"
      >
        User Info
      </div>
      <div class="navigation__user-avatar">Avatar</div>
    </li>
  </nav>
</header>

<router-outlet></router-outlet>
