<form class="form" [formGroup]="form" (ngSubmit)="handleSignUpButtonClick()">
  <h2 class="form__title">Create new account</h2>
  <div class="form__controls">

      <input class="form-control" type="text" placeholder="Username" formControlName="username">
      <div
        *ngIf="form.get('username')?.invalid && form.get('username')?.touched"
        class="validations"
      >
        <p
          *ngIf="form.get('username')?.errors?.['required']"
          class="validation-message"
        >
          Username is required.
        </p>

        <p
          *ngIf="form.get('username')?.errors?.['minlength']"
          class="validation-message"
        >
          Username must contain at least {{form.get('username')?.errors?.['minlength'].requiredLength}} characters.
        </p>

        <p
          *ngIf="form.get('username')?.errors?.['numberOfWords']"
          class="validation-message"
        >
          Username must contain at least 2 words.
        </p>

        <p
          *ngIf="form.get('username')?.errors?.['pattern']"
          class="validation-message"
        >
          You cannnot use special symbols or numbers.
        </p>
      </div>

      <input class="form-control" type="text" placeholder="Email" formControlName="email">
      <div
        *ngIf="form.get('email')?.invalid && form.get('email')?.touched"
        class="validations"
      >
        <p
          *ngIf="form.get('email')?.errors?.['required']"
          class="validation-message"
        >
          Email is required.
        </p>

        <p
          *ngIf="form.get('email')?.errors?.['emailIsNotUnique']"
          class="validation-message"
        >
          User with such email already exists.
        </p>

        <p
          *ngIf="form.get('email')?.errors?.['restrictedDomain'] && form.get('email')?.value.length > 0"
          class="validation-message"
        >
          Unvalid domain name.
        </p>

        <p
          *ngIf="form.get('email')?.errors?.['numberOfSymbolsAfterAtSign']"
          class="validation-message"
        >
          You cannot use more than 5 symbols after "@" sign.
        </p>

        <p
          *ngIf="form.get('email')?.errors?.['numberOfDotsBeforeAtSign']"
          class="validation-message"
        >
          You cannot use more than 3 dots before "@" sign.
        </p>
      </div>

      <input class="form-control" type="text" placeholder="Password" formControlName="password">
      <div
        *ngIf="form.get('password')?.invalid && form.get('password')?.touched"
        class="validations"
      >
        <p
          *ngIf="form.get('password')?.errors?.['required']"
          class="validation-message"
        >
          Password is required.
        </p>

        <p
          *ngIf="form.get('password')?.errors?.['minlength']"
          class="validation-message"
        >
          Password must contain at least {{form.get('password')?.errors?.['minlength'].requiredLength}} symbols.
      </p>

      <p
        *ngIf="form.get('password')?.errors?.['noCapitalLettersIncluded']"
        class="validation-message"
      >
        Password must include at least 1 capital letter.
      </p>

      <p
        *ngIf="form.get('password')?.errors?.['noNumbersIncluded']"
        class="validation-message"
      >
        Password must include at least 1 number.
      </p>

      <p
        *ngIf="form.get('password')?.errors?.['noSpecialSymbolsIncluded']"
        class="validation-message"
      >
        Password must include at least 1 special symbol: $, %, ., &, !, -.
      </p>

      <p
        *ngIf="form.get('password')?.errors?.['containsPartsOfNameOrEmail']"
        class="validation-message"
      >
        Password must not contain parts of username or email.
      </p>
    </div>
  </div>

  <button class="form__sign-in-button" (click)="handleSignInButtonClick()">I already have an account</button>
  <button class="form__submit-button" type="submit" [disabled]="form.invalid">Sign up</button>
</form>