:root {
  --color-accent: rgb(199, 126, 59);
  --color-accent-pale: rgba(199, 127, 59, 0.623);
  --color-control-underline: #ccc;
  --color-primary-bg: rgba(235, 185, 94, 0.932);
  --color-secondary-bg: rgba(255, 255, 255, 0.411);
  --color-neutral: #fff;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
}

nav {
  list-style: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
